#title>h1{

  font-weight: bolder;


}
#display
{    margin-top:5%;
    height:3em;
    border: 1px solid black;
}
#buttonbox{
  margin-top:2%;

margin-bottom:3%;}
#contact{
    position:absolute;

   bottom:1%;
   right:0;
   left:0;
   margin-top: 20px;
}
.btn{
 border: 1px solid black;
 font-weight: bold;
 margin:3px 0 3px 0;
}

#code{
    font-size:25px;
font-weight: bolder;
}

